/* CSS files add styling rules to your content */

body {
  font-family: "Noto Sans", "Segoe UI", "Helvetica", "Arial", helvetica, arial, sans-serif;
}
html{
  scroll-behavior:smooth;
  margin:40px 100px;
}
a{
  color:black;
  text-decoration:none;
}
p{
  margin:0px;
  line-height:1.4rem;
 
}

a.nav{
  color: #b5b5b5;
  float:right;
  text-decoration: none;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
a.hover:hover{ 
  color: black;
  transition: 0.25s ease-in-out;
}

#logo{
  width: 25%;
  display: inline-block;
  float: left;
}

.row{
  display: inline-block;
  width: 85%;
  margin: 2.5em 0;
  background-color: #fff;
}
.row2{
  display: inline-block;
  width: 80%;
  
  margin: 0.5em 2.5em;
  background-color: #fff;
  text-align: left;
}

.project-desc{
  text-align:left;
}
.project-desc p{
  display:flex;
}
.gallery{
  width: 50%;
  float:left;
  margin-right: 3em;
}

.bio{
  text-align:left; 
  width:50%;
}

.about{
  width: 65%; 
  margin-top: 50px;
}
.about img{
  float:right; 
  width:40%;
}
.header{
  display: inline-block;
}
/**style stuffs to reuse*/
.bold{
  font-weight:bold;
}
.capitalize{
  text-transform:uppercase;
}
.gray{
  color:#959595;
}
.blue{
  color: #cae9fd;
}
.fleft{
  float:left;
}
.inline{
  display:inline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:75%;
  text-align:center;
}
.small{
  font-size:12px;
}
.underline{
  text-decoration: underline;
  text-decoration-color: #b5b5b5;
}
.caption{
  margin-top:10px;
  position: relative;
}
.no-float{
  float:none;
}
* {
  box-sizing: border-box; 
}

img {
  display: block;
  width: 100%; 
}

section {
  margin-right: 30px;
}

/*project title*/
h1 {
  text-align:center;
  width:60%;
  /*margin:100px 150px 50px 150px;*/
  margin:75px auto 50px auto;
  display:block;
}
h2{
  margin-top:2em;
  text-align: left;
}
/*project title on home pg */
h3 {
  font-size: 22px;
  margin: 20px 0 0 0;
  font-weight: semibold;
  text-decoration:none;
}

/*project category, button*/
h4{
  margin-top:10px;
  font-weight:normal;
  font-size:12px;
  color: #959595;
  text-transform: uppercase;
}

h5{
  font-size: 12px;
  text-align:left;
  margin-bottom:10px;
}
h6{
  font-size:15px;
  width:100%;
  float:left;
  margin-bottom: 1em;
}

.button-center{
  font-size:12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 2em auto;
  padding: .5em 2em;
  background-color: black;
  color:white;
  width: 200px;
  text-align: center;
  line-height:36px;
}

.button{
  font-size:12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 1em 2em;
  color: black;
  border: 2px solid black;
  text-align: center;
  float: left;
  margin: 2em 0;
  transition: all 0.2s ease-in-out;
  /* width: 144px;
  height:36px;
  position: absolute;
  line-height:36px; */
}

.button:hover{
  background-color: black;
  color:white;
}

.container-left{
  float:left;
}

a svg,
a svg rect{
  position: absolute;
  width:100%;
  height:100%;
  fill: transparent;
  top:0;
  left:0;
}
a svg rect{
  stroke-width: 4px;
  stroke: #000000;
  transition: 0.25s ease-in-out;
  stroke-dasharray: 44, 136;
  stroke-dashoffset: 22;
}
.button:hover svg rect{
  stroke-dasharray: 180, 0;
  stroke-dashoffset: 22;
}

/* blue underline */
.chunky-underline{
  background-image: linear-gradient(transparent 0%, transparent 65%, #cae9fd 65%, #cae9fd 100%, transparent 100%, transparent);
  display: inline-block;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .25s background-size ease-in-out;
}
.active {
  background-size: 100%;
}

.chunky-underline:after {
  content: '';
  display: block;
}
.chunky-underline:hover {
  background-size: 100% 100%;
}
.mylist{
  margin: 2em; 
  line-height:2em;
}

li{
  margin-bottom: 0.75em;
}

/*art gallery*/
.artgal{
  margin-bottom: 100px;
}

/*project page*/
.projheader{
  display: block;
  margin:0px 200px 50px 200px;
}
.column{
  float:left;
  width:20%;
  margin:1em;
}

.text{
  float: left;
  margin: 0px 200px 0px 200px;
  line-height: 1.4rem;
}

.text h6{
  line-height: 2rem;
}

.pic{
  position: relative;
  display:block;
  text-align:center;
  width:100%; 
  padding:5px;
  float:left;
  margin: 20px 0px 20px 0px;
}
.pic img{
  margin-bottom: 10px;
}
.emphasis{
  font-size:1.5em;
  font-style:italic;
  padding:30px;
  line-height: 1.5em;
}

@media only screen and (max-width:1260px){
  .column{
    float: left;
    width: 50%;
    padding: 0 2em;
    margin: 0;
  }
}

@media only screen and (max-width:895px){
  body{
    margin: 25px 0px 10px 0px;
  }
  html{
    margin: 20px;
  }
  h1{
    font-size: 25px;
    padding:25px;
    margin: 0;
    width:100%;
  }

  .projheader{
    width: 100%;
    height: auto;
    margin: 10px 25px;
  } 
  .column{
    width: auto;
    margin: 10px;
    height: auto;
  }
  .text{
    margin: 25px;
    
  }/*
  .maininfo{
    margin-bottom: 100px;
    width:100%;
    padding-bottom:100px;
  }*/
  .small{
    line-height: 1rem;
  }
  .responsive ul {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem; 
  }

  .bio{
    float: left;
    width: 90%;
  }
  .textoverlay{
    font-size: 20px;
  }
  
}

@media only screen and (max-width:650px){
  .gallery{width: 100%; margin-bottom: 2em;}
  
  .about img{width:50%; margin-left: auto; margin-right: auto; float:none; margin-bottom: 2em;}
}
